ion-toolbar {
  --background: rgba(0, 0, 0, 0.9);
  border-bottom: solid 1px #ccc;
  color: white;
}

.btn {
  color: white;
}

.btn:hover {
  color: gold;
}

.btn:active {
  border: none;
}

.pe-none {
  pointer-events: none;
}
