<ion-toolbar>
  <div class="row mx-2 fw-bolder">
    <div class="col-3">
      <button
        *ngIf="!isLoginPage"
        type="button"
        class="btn btn-dark"
        (click)="logout()"
      >
        <i class="bi bi-box-arrow-left"></i>
        SALIR
      </button>
      <span *ngIf="isLoginPage">
        {{ appName | titlecase }}
      </span>
    </div>
    <div class="col-6 text-center">{{ bettingHouseName }}</div>
    <div class="col-3 text-white text-end" *ngIf="nextRound?.closeTime">
      Siguiente ronda: {{ nextRound?.closeTime | date : "shortTime" }}
    </div>
  </div>
</ion-toolbar>
