table {
  min-width: 300px;
}

thead tr td {
  font-weight: bolder;
}

tr {
  border-color: transparent;
}

thead tr td:first-child {
  border-top-left-radius: 30px;
}

thead tr td:last-child {
  border-top-right-radius: 30px;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 30px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 30px;
}

.color-red {
  color: white;

  background: rgba(darkred, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.color-black {
  color: white;

  background: rgba(black, 0.63);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.color-green {
  color: black;
  background: rgba(seagreen, 0.63);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
