table {
  min-width: 500px;
}

thead tr td {
  font-weight: bolder;
}

.color-red {
  color: white;
  background-color: rgba(darkred, 0.9);
}

.color-black {
  color: white;
  background-color: rgba(black, 0.9);
}

.color-green {
  color: black;
  background-color: rgba(seagreen, 0.9);
}
