$platesize: 350px;
$pitwidth: 32px;
$rimsize: 6px;
$trim: gold;
$trimSecondary: silver;
$spinButton: green;
$resetButton: darkgreen;
$spins: 8;
$from: 1;
$to: 37;
$rotate: calc(360 / $to) + 0deg;

@mixin loop($index) {
  @if $index < $to {
    .number:nth-child(#{$index}) {
      transform: rotateZ($rotate * $index);
    }
    @include loop($index + 1);
  }
}

@include loop($from);

.plate {
  background-color: gray;
  width: $platesize;
  height: $platesize;
  margin: $rimsize * 2;
  border-radius: 50%;
  position: relative;

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
  }

  &:after {
    top: -$rimsize;
    right: -$rimsize;
    bottom: -$rimsize;
    left: -$rimsize;
    border: $rimsize solid $trim;
    box-shadow: inset 0px 0px 0px calc($rimsize/3) darken($trim, 15%),
      0px 0px 0px calc($rimsize/3) lighten($trim, 25%);
  }

  &:before {
    background: rgba(0, 0, 0, 0.65);
    border: 1px solid $trimSecondary;
    box-shadow: inset 0px 0px 0px 2px darken($trimSecondary, 25%);
    top: 12%;
    left: 12%;
    right: 12%;
    bottom: 12%;
    z-index: 1;
  }
}
.data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  width: $pitwidth;
  height: calc($platesize/2);
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 0;
  left: calc(50% - calc($pitwidth / 2));
  transform-origin: 50% 100%;
  background-color: transparent;
  border-left: calc($pitwidth/2) solid transparent;
  border-right: calc($pitwidth/2) solid transparent;
  border-top: calc($platesize/2) solid black;
  box-sizing: border-box;
  &:nth-child(odd) {
    border-top-color: red;
  }
  &:nth-child(#{$to}) {
    border-top-color: green;
  }
}

.pit {
  color: #ffffff;
  padding-top: 12px;
  width: $pitwidth;
  display: inline-block;
  font-size: 12px;
  transform: scale(1, 1.8);
  position: absolute;
  top: calc(-1 * $platesize / 2);
  left: calc(-1 * $pitwidth / 2);
}

.inner {
  display: block;
  height: $platesize;
  width: $platesize;
  position: relative;

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
  }

  &:after {
    z-index: 3;
    top: 24%;
    right: 24%;
    bottom: 24%;
    left: 24%;
    background-color: darken($trimSecondary, 45%);
    box-shadow: inset 0px 0px 0px 2px darken($trimSecondary, 10%),
      0px 0px 0px 2px lighten($trimSecondary, 45%);
  }

  &:before {
    top: 26%;
    right: 26%;
    bottom: 26%;
    left: 26%;
    background-color: rgba(0, 0, 0, 0.65);
    border: 1px solid $trimSecondary;
    box-shadow: inset 0px 0px 0px 2px darken($trimSecondary, 25%),
      0px 0px 0px 2px lighten($trimSecondary, 25%);
  }
}
