$platesize: 350px;
$pitwidth: 32px;
$rimsize: 6px;
$trim: gold;
$trimSecondary: silver;
$spinButton: green;
$resetButton: darkgreen;
$spins: 8;
$from: 1;
$to: 37;
$rotate: calc(360 / $to) + 0deg;
$platesize-for-diamonds: 215px;
$diamantes: 8;
$angulo: 360 / $diamantes;
$diamanteSize: $platesize-for-diamonds;

@mixin loop($index) {
  @if $index < $to {
    .number:nth-child(#{$index}) {
      transform: rotateZ($rotate * $index);
    }
    @include loop($index + 1);
  }
}

@include loop($from);

.plate {
  background-color: gray;
  width: $platesize;
  height: $platesize;
  margin: $rimsize * 2;
  border-radius: 50%;
  position: relative;
  z-index: 10;

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
  }

  &:after {
    top: -$rimsize;
    right: -$rimsize;
    bottom: -$rimsize;
    left: -$rimsize;
    border: $rimsize solid $trim;
    box-shadow: inset 0px 0px 0px calc($rimsize/3) darken($trim, 50%),
      0px 0px 0px calc($rimsize/3) lighten(rgb(30, 29, 29), 25%);
      z-index: 10;
  }

  &:before {
    background: rgba(0, 0, 0, 0.65);
    border: 1px solid $trimSecondary;
    box-shadow: inset 0px 0px 0px 2px darken($trimSecondary, 25%);
    top: 12%;
    left: 12%;
    right: 12%;
    bottom: 12%;
    z-index: 1;
  }
}

.plate-brown-diamonds {
  background: linear-gradient(
    135deg,
    #461e03 0%,
    #461e03 50%,
    #461e03 51%,
    #753002 100%
  );
  width: $platesize * 1.3;
  height: $platesize * 1.3;
  padding: 8.2%;
  border-radius: 50%;
  position: relative;
  border: 2px solid $trim;
  z-index: 10;
}

.plate-brown {
  background: linear-gradient(
    135deg,
    #ca9309 0%,
    rgb(112, 76, 0) 50%,
    #6b5503 51%,
    #6b5503 100%
  );
  width: $platesize * 1.08;
  height: $platesize * 1.08;
  padding: 0.2%;
  border-radius: 50%;
  position: relative;
}

$puntoSize: 210px;
$anguloDot: 45deg;

@for $i from 1 through $diamantes {
  .diamond-#{$i} {
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom: 12px solid rgb(248, 211, 4);
    top: 50%;
    left: 50%;
    z-index: 150;
    transform: translate(-50%, -50%)
      rotate(#{($i - 1) * $angulo}deg)
      translateX($diamanteSize)
      rotate(90deg);
  }

  .diamond-#{$i}:after {
    content: "";
    position: absolute;
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: 12px solid #ffda06;
  }

  .dot-#{$i} {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: rgb(238, 201, 17);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 150;
    transform: translate(-50%, -50%)
      rotate(#{($i - 1) * $anguloDot + ($anguloDot / 2)})
      translateX($puntoSize)
      rotate(-#{($i) * $anguloDot - ($anguloDot / 2)});
  }
}

.data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.number {
  width: $pitwidth;
  height: calc($platesize/2);
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 0;
  left: calc(50% - calc($pitwidth / 2));
  transform-origin: 50% 100%;
  background-color: transparent;
  border-left: calc($pitwidth/2) solid transparent;
  border-right: calc($pitwidth/2) solid transparent;
  border-top: calc($platesize/2) solid black;
  box-sizing: border-box;
  &:nth-child(odd) {
    border-top-color: red;
  }
  &:nth-child(#{$to}) {
    border-top-color: green;
  }
}

.pit {
  color: #ffffff;
  padding-top: 12px;
  width: $pitwidth;
  display: inline-block;
  font-size: 12px;
  transform: scale(1, 1.8);
  position: absolute;
  top: calc(-1 * $platesize / 2);
  left: calc(-1 * $pitwidth / 2);
}

.inner {
  display: block;
  height: $platesize;
  width: $platesize;
  position: relative;

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
  }

  &:after {
    z-index: 3;
    top: 24%;
    right: 24%;
    bottom: 24%;
    left: 24%;
    background-color: darken($trimSecondary, 45%);
    box-shadow: inset 0px 0px 0px 2px darken($trimSecondary, 10%),
      0px 0px 0px 2px lighten($trimSecondary, 45%);
  }

  &:before {
    top: 26%;
    right: 26%;
    bottom: 26%;
    left: 26%;
    background-color: rgba(0, 0, 0, 0.65);
    border: 1px solid $trimSecondary;
    box-shadow: inset 0px 0px 0px 2px darken($trimSecondary, 25%),
      0px 0px 0px 2px lighten($trimSecondary, 25%);
  }
}

.result-number {
  color: white !important;
}

.goldbg {
  /* Old browsers */
  background: #fac60a;
  background: -moz-linear-gradient(
    -45deg,
    #fcd061 0%,
    #fac60a 50%,
    #fac60a 51%,
    #fefefe 100%
  );
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #fcd061),
    color-stop(50%, #fac60a),
    color-stop(51%, #fac60a),
    color-stop(100%, #fefefe)
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    -45deg,
    #fcd061 0%,
    #fac60a 50%,
    #fac60a 51%,
    #fefefe 100%
  );
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    -45deg,
    #fcd061 0%,
    #fac60a 50%,
    #fac60a 51%,
    #fefefe 100%
  );
  /* Opera 11.10+ */
  background: -ms-linear-gradient(
    -45deg,
    #fcd061 0%,
    #fac60a 50%,
    #fac60a 51%,
    #fefefe 100%
  );
  /* IE10+ */
  background: linear-gradient(
    135deg,
    #fcd061 0%,
    #fac60a 50%,
    #fac60a 51%,
    #ffd7aaf6 100%
  );
}

.platebg {
  position: absolute;
  z-index: 50;
  background: rgba(51, 29, 1, 1);
  width: 19em;
  height: 19em;
  border-radius: 19em;
  left: 3em;
  top: 3em;
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 1);
}

.topnodebox {
  position: relative;
  z-index: 150;
}

.topnode {
  position: relative;
  width: 5em;
  height: 5em;
  z-index: 100;
  border-radius: 10em;
  border: 0.1em solid #ffc800;
  box-shadow: 0px 0px 2em rgb(4, 4, 4);
}

.topnodebox span {
  position: absolute;
  z-index: 90;
  border-radius: 0.5em;
  border: solid 0.1em rgb(95, 80, 32);
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
}

.top,
.down,
.left,
.right {
  background-color: #ffd700;
  z-index: 1;
}

.top,
.down {
  width: 1em;
  height: 4em;
  left: 50%;
  transform: translateX(-50%);
}

.left,
.right {
  width: 4em;
  height: 1em;
  top: 50%;
  transform: translateY(-50%);
}

.top::before,
.down::before,
.left::before,
.right::before,
.top::after,
.down::after,
.left::after,
.right::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #fdc90c 50%,
    #f0c010 51%,
    #fff2aaf6 100%
  );
  border-radius: 50%;
  z-index: 2;
}

.top::before {
  width: 1.5em;
  height: 1.5em;
  left: -5.5px;
  top: 2%;
}

.down::before {
  width: 1.5em;
  height: 1.5em;
  left: -5.5px;
  top: 58%;
}

.left::before {
  width: 1.5em;
  height: 1.5em;
  top: -5px;
  left: 2%;
}

.right::before {
  width: 1.5em;
  height: 1.5em;
  right: 2%;
  top: -5px;
}

.top {
  top: -2.6em;
}

.down {
  bottom: -2.6em;
}

.left {
  left: -2.6em;
}

.right {
  right: -2.6em;
}

.goldennode {
  width: 2em;
  height: 2em;
  position: absolute;
  z-index: 110;
  border-radius: 2em;
  left: 1.5em;
  top: 1.5em;
  border: solid 0.1em rgba(177, 121, 1, 0.834);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  background: #e2e2e2;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZTJlMmUyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZGJkYmRiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjZDFkMWQxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(
    45deg,
    #fac60a 0%,
    #e1b207 50%,
    #fac60a 51%,
    #fefefe 100%
  );
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0%, #fac60a),
    color-stop(50%, #e1b207),
    color-stop(51%, #fac60a),
    color-stop(100%, #fefefe)
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    45deg,
    #fac60a 0%,
    #e1b207 50%,
    #fac60a 51%,
    #fefefe 100%
  );
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    45deg,
    #fac60a 0%,
    #e1b207 50%,
    #fac60a 51%,
    #fefefe 100%
  );
  /* Opera 11.10+ */
  background: -ms-linear-gradient(
    45deg,
    #fac60a 0%,
    #e1b207 50%,
    #fac60a 51%,
    #fefefe 100%
  );
  /* IE10+ */
  background: linear-gradient(
    45deg,
    #fac60a 0%,
    #e1b207 50%,
    #fac60a 51%,
    #fefefe 100%
  );
}
