<div class="container h-100 fade-in">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-6">
      <form [formGroup]="form" (ngSubmit)="login()" class="login-form">
        <div class="form-group">
          <label for="userName">Usuario</label>
          <input
            type="text"
            name="userName"
            formControlName="userName"
            autocomplete="off"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input
            type="password"
            class="form-control"
            name="password"
            formControlName="password"
            required
          />
        </div>
        <br /><br />
        <p *ngIf="form.hasError('invalidCredentials')" class="error-msg">
          Las credenciales son incorrectas
        </p>
        <button
          type="submit"
          class="btn btn-login w-100"
          [disabled]="processingRequest"
        >
          ENTRAR
        </button>
      </form>
    </div>
  </div>
</div>
