$text-color: white;
$border-color: gold;
$button-color: white;

.login-form {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;

  -webkit-box-shadow: 15px 0px 10px -10px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 15px 0px 10px -10px rgba(0, 0, 0, 0.51);
  box-shadow: 15px 0px 10px -10px rgba(0, 0, 0, 0.51);
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: $text-color;
}

.btn-login {
  color: black;
  background-color: $button-color;
}

.btn-login:hover {
  background-color: rgba(gold, 0.7);
  font-weight: bolder;
}

.form-control {
  color: $text-color;
  background-color: rgba(0, 0, 0, 0.5);
}

.form-control:focus {
  color: $text-color;
  border-color: $border-color;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba($border-color, 0.25);
}
