@font-face {
  font-family: "digital";
  font-style: normal;
  font-weight: normal;
  src: local("digital"),
    url("../assets/fonts/ds/DS-DIGI.TTF") format("truetype");
}

@font-face {
  font-family: "digital";
  font-style: normal;
  font-weight: bold;
  src: local("digital"),
    url("../assets/fonts/ds/DS-DIGIB.TTF") format("truetype");
}

@font-face {
  font-family: "digital";
  font-style: italic;
  font-weight: normal;
  src: local("digital"),
    url("../assets/fonts/ds/DS-DIGII.TTF") format("truetype");
}

@font-face {
  font-family: "digital";
  font-style: italic;
  font-weight: bold;
  src: local("digital"),
    url("../assets/fonts/ds/DS-DIGIT.TTF") format("truetype");
}
