$to: 0;
$to-two: 0;
$rotate: calc(360 / $to) + 0deg;
$rotate-two: calc(360 / $to-two) + 0deg;


.main {
  height: 100%;
}
.poker-image{
  height: 300px;
  width: 280px;
  position: absolute;
  top: 62%;
  left: -12%;
  rotate: -10deg;
  z-index: 10;
}

.coin-image-bottom{
  height: 80%;
  width: 65%;
  position: absolute;
  top: 62%;
  left: 0%;
  z-index: 0;
}

.coin-image-medium{
  height: 50%;
  width: 40%;
  position: absolute;
  top: 19%;
  right: 9.5%;
  z-index: 0;
}

.mix-symbol-image-top-one{
  height: 30%;
  width: 15%;
  position: absolute;
  top: 20%;
  left: 15.3%;
  z-index: 1;
  transform: scaleX(-1); 
  transform: rotateZ($rotate);
}
.mix-symbol-image-top-two{
  height: 25%;
  width: 15%;
  position: absolute;
  top: 36%;
  left: 14.9%;
  z-index: 1;
  transform: scaleX(-1); 
  transform: rotateZ($rotate-two);
}

.table-container {
  position: relative;
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #715a08 44%,
    #705802 51%,
    #423701f6 100%
  );
  border-radius: 15px;
  padding: 20px;
  margin: auto;
  width: 70%;
  border-left: inset 0.1em rgba(171, 104, 3, 0.733);
  border-bottom: solid 0.3em rgba(49, 33, 1, 0.899);
  border-right: solid 0.1em rgb(123, 79, 2);
}

.table-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 0 200px #f0e130;
  opacity: 0.5;
  z-index: 0;
  border-bottom: solid 0.3em rgba(103, 81, 1, 0.826);
  border-right: solid 0.3em rgb(72, 46, 2);
}

.linea {
  position: absolute;
  height: 2px;
  background-color: rgba(108, 73, 2, 0.205);
  z-index: 0;
}

.linea:nth-child(1) {
  width: 40%;
  top: 20%;
  left: 20%;
}

.linea:nth-child(2) {
  width: 30%;
  top: 40%;
  left: 25%;
}

.linea:nth-child(3) {
  width: 30%;
  top: 60%;
  left: 20%;
}