<div class="main">
  <app-toolbar></app-toolbar>
  <div class="row p-5 dashboard-body">
    <div class="col d-flex flex-grow-1 justify-content-center align-items-center">
      <app-plate #plate>
        <app-ball #ball></app-ball>
      </app-plate>
    </div>
    <div class="col ">
      <app-results></app-results>
    </div>
    <div class="w-100 text-center row mt-5 px-5 mx-5">
      <button class="btn btn-success col mx-5" (click)="onPlay()">PLAY</button>
      <button class="btn btn-danger col mx-5" (click)="onStop()">STOP</button>
      <button class="btn btn-warning col mx-5" (click)="onReset()">RESET</button>
    </div>
  </div>
</div>
