<div class="main">
  <app-toolbar></app-toolbar>
  <div class="row">
    <div class="col text-center">
      <wheel
        #wheel
        [width]="500"
        [height]="500"
        [spinDuration]="8"
        [items]="items"
        [innerRadius]="50"
        [spinAmount]="10"
        [textOrientation]="textOrientation"
        [textAlignment]="textAlignment"
        pointerStrokeColor="black"
        pointerFillColor="gold"
        [idToLandOn]="MOCK_RESULT"
        (onSpinStart)="beforeSpin()"
        (onSpinComplete)="afterSpin()"
      ></wheel>
    </div>
    <div class="col">
      <app-results></app-results>
    </div>
  </div>
  <div class="w-100 text-center row mt-5">
    <button class="btn btn-success col mx-5" (click)="onPlay()">PLAY</button>
    <button class="btn btn-dark col mx-5" (click)="onReset()">RESET</button>
  </div>
</div>
