<div class="main fade-in pt-5 mt-5">
  <br /><br /><br /><br />
  <img src="assets/poker-coin.png" alt="" class="poker-one" />
  <img src="assets/poker-coin.png" alt="" class="poker-two" />
  <img src="assets/poker-coin.png" alt="" class="poker-three" />
  <img src="assets/poker-coin.png" alt="" class="poker-four" />
  <img src="assets/gold-coin.png" alt="" class="coin-image-medium" />
  <div class="table-container">
    <div class="linea"></div>
    <div class="linea"></div>
    <div class="linea"></div>
    <div class="row">
      <img src="assets/poker.png" alt="" class="poker-image" />
      <div
        class="col d-flex flex-grow-1 justify-content-center align-items-center"
      >
        <app-roulette-spin></app-roulette-spin>
      </div>
      <div
        class="col d-flex flex-grow-1 justify-content-center align-items-center"
      >
        <app-results [showWinnerResult]="showWinnerResults"></app-results>
      </div>
      <img src="assets/gold-coin.png" alt="" class="coin-image-bottom" />
    </div>
  </div>
</div>
